body {
	min-height: 100vh;
	background-color: #ccc;
	background-image: url(https://unsplash.it/g/1500/800?random);
}

.login-form {
	padding: 20px 30px;
	background-color: #fff;


	transform: translateY(-50%);
}